/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('Imagenes/Piedra.jpg');
    background-size: cover;
    background-position: center;
}

/* Contenedor principal */
main {
    margin: 20px;
}

/* Estilos del encabezado */
header {
    text-align: center;
    padding: 10px;
    background-color: #0367ad;
    color: white;
    position: relative;
    border-radius: 15px;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20%;
}

.logo img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Estilos del botón de navegación */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

nav button {
    flex: 1;
    max-width: 200px;
    background-color: #0f6096;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav button:hover {
    background-color: #b90101;
    transform: scale(1.05);
}

/* Estilo para la sección visible */
section {
    margin: 20px auto;
    display: none;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

section.visible {
    display: block;
}

/* Estilo para el pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #0f6096;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 15px;
}

/* WhatsApp Bubble */
.whatsapp-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 9999;
    transition: transform 0.3s ease-in-out;
}

.whatsapp-bubble img {
    width: 100%;
    height: auto;
}

.whatsapp-bubble:hover {
    transform: scale(1.5);
}

/* Productos */
.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.producto {
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.producto img {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
}

/* Media Queries */
@media (max-width: 768px) {
    header {
        font-size: 14px;
        padding: 20px;
    }

    .logo {
        top: 5px;
        right: 5px;
        width: 30%;
    }

    nav button {
        flex: 1 1 100%;
        max-width: 100%;
    }

    footer {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    body {
        margin: 10px;
    }

    .whatsapp-bubble {
        width: 50px;
        height: 50px;
    }

    .whatsapp-bubble img {
        width: 80%;
    }

    nav {
        flex-direction: column;
    }

    .producto {
        padding: 10px;
    }
}
